private
*.npy
*/*/*.pyc
*/*.ipynb*
*/*/.ipynb_checkpoints
*/*/.ipynb_checkpoints/*.*
*.aux
*.dvi
*.log
.DS_Store
paper/.DS_Store
source/helper_fns.pyc
tests/unperturbed/.ipynb_checkpoints/check_orbits-checkpoint.ipynb
tests/unperturbed/helper_fns.pyc
tests/unperturbed/.ipynb_checkpoints/check_orbits-checkpoint.ipynb
tests/unperturbed/helper_fns.pyc
tests/equilibrium/ring_mass_1.5e-10/helper_fns.pyc
tests/libration/ring_mass_1.5e-10/helper_fns.pyc
tests/libration/ring_mass_1.5e-9/helper_fns.pyc
tests/libration/ring_mass_1.5e-8/helper_fns.pyc
tests/libration/ring_mass_5.0e-10/helper_fns.pyc
tests/libration/ring_mass_5.0e-9/helper_fns.pyc
tests/libration/ring_mass_5.0e-8/helper_fns.pyc
runs/viscosity/nu_1e-11/helper_fns.pyc
