private
*.npy
*/*/*.pyc
*/*.ipynb*
*/*/.ipynb_checkpoints
*/*/.ipynb_checkpoints/*.*
source/helper_fns.pyc
tests/unperturbed/.ipynb_checkpoints/check_orbits-checkpoint.ipynb
tests/unperturbed/helper_fns.pyc
tests/unperturbed/.ipynb_checkpoints/check_orbits-checkpoint.ipynb
tests/unperturbed/helper_fns.pyc
